cmake_minimum_required(VERSION 3.10.0)
project({{PROGRAM_NAME}} VERSION {{APP_VER}} LANGUAGES C CXX)

set(CMAKE_CXX_STANDARD 20)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_CXX_EXTENSIONS OFF)

{% for comp in add_subdirectory_lib -%}
    add_subdirectory({{ comp }})
{% endfor -%}
{% for comp in add_subdirectory_header_only -%}
    add_subdirectory({{ comp }})
{% endfor -%}


add_executable({{PROGRAM_NAME}} main.cpp)

{% for comp in add_subdirectory_lib_target -%}
    target_link_libraries({{PROGRAM_NAME}} PRIVATE {{ comp }})    
{% endfor -%}
