{{HPP_SCMAKE_SCRIPT}}

add_library({{BIN_NAME}} STATIC    
    {% for comp in HPP_CPP_FILES -%}
        {{ comp }}
    {% endfor -%}
)
set_target_properties({{BIN_NAME}} PROPERTIES LINKER_LANGUAGE CXX)

{% for comp in HPP_INCLUDE_PUBLIC_DIR -%}
    target_include_directories({{BIN_NAME}} PUBLIC {{ comp }})
{% endfor -%}


{{HPP_GEN_LINK}}